// - primary colors
$color-primary: #0565f0;

// - secondary colors
$color-secondary-1: #f0f6ff;
$color-secondary-2: #e5f1ff;
$color-secondary-3: #c2dcff;
$color-secondary-4: #5697f0;
$color-secondary-5: #307ff0;
$color-secondary-6: #175ec7;
$color-secondary-7: #1d2d47;