$root-font-size: 10px;

// - font family
$font-pretend: "Pretendard";

// - font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-extrabold: 900;

// - primary colors
$color-primary: #ef3b3d;

// - secondary colors
$color-secondary-1: #f0f6ff;
$color-secondary-2: #e5f1ff;
$color-secondary-3: #c2dcff;
$color-secondary-4: #5697f0;
$color-secondary-5: #307ff0;
$color-secondary-6: #175ec7;
$color-secondary-7: #1d2d47;
