@font-face {
  font-family: "Crayon";
  src: url(../../fonts/Typo_CrayonB.woff2) format("woff2");
  font-weight: 400;
}

/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
